<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buynow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuyNow">
        <activity
            android:name=".presentation.user.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.user.activity.CheckoutActivity"
            android:exported="false" />
        <activity android:name=".presentation.admin.activity.HomeAdminActivity" />
        <activity android:name=".presentation.seller.activity.HomeSellerActivity" />
        <activity android:name=".presentation.user.activity.PaymentMethodActivity" />
        <activity android:name=".presentation.user.activity.AddAddressActivity" />
        <activity android:name=".presentation.user.activity.ShipingAddressActivity" />
        <activity android:name=".presentation.user.activity.VisualResultActivity" />
        <activity android:name=".presentation.user.activity.VisualSearchActivity" />
        <activity android:name=".presentation.user.activity.ProductDetailsActivity" />
        <activity android:name=".presentation.user.activity.SettingsActivity" />
        <activity
            android:name=".presentation.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.user.activity.HomeActivity" />
        <activity android:name=".presentation.SignUpActivity" />
        <activity android:name=".presentation.LoginActivity" />
    </application>

</manifest>